.reg-input:focus,select:focus{
    border:1px solid #343B43 !important;
    outline: 0 !important;
}
.main-header{
    position: relative;
    height: 100vh;
    padding-left: 130px;
}
.auth-header{
    height: 128px;
    background-color: white;
}
.reg-header{
    height: 130px;
}

.main-header #a{
    font-size: 16px;
    line-height: 19px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    padding:20px;
    background-color: #4CBA78;
    border-radius: 4px;
    display: none;
    position: absolute;
    right: 130px;
    top: 35px;
    color: white;
    transition: 0.3s;
}
.main-header #a:hover{
    background-color: #656565;
}
.main-header h1{
    font-size: 34px;
    line-height: 51px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    width: 60%;
    padding-top: 12%;
    color: #343B43;
}
.scroll-line{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 25px;
    height: 73px;
}
.green-line{
    width: 2.5px;
    background-color: #4CBA78;
    height: 24px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    z-index: 123;
}
.grey-line{
    bottom: 0;
    height: 50px;
    width: 2.5px;
    border-radius: 6px;
    background-color: #D6D8D9;
    position: absolute;
}
.personal-id{
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 100px;
    margin-top: 60px;
    box-shadow: 0 10px 30px #3333330D;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.personal-id .id{
    height: 60px;
    width: 350px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    font-size: 16px;
    color: rgb(52, 59, 67);
    border: 0;
    outline: 0;
}
.personal-id .id::placeholder{
    color: rgba(52, 59, 67,0.6);
}
.personal-id .submit,.auth form .submit{
    width: 180px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    padding:20px;
    background-color: #4CBA78;
    border-radius: 4px;
    display: inline-block;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
.personal-id .submit:hover{
    background-color: #656565;
}
.error-border{
    border-color:#EB4D4B;
}
.error-text{
    color: #EB4D4B;
}
.error-text::placeholder{
    color: #EB4D4B !important;
}
.error-msg{
    font-size: 13px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #EB4D4B;
    display: none;
    margin-top: 18px;
}
/* registration */
.routeDiv{
    position: relative;
    margin-bottom: 60px;
}
.target{
    position: absolute;
    width:4px;
    height: 15px;
    border-radius: 4px;
    background-color: #343B43;
    left: 0;
    bottom: 0;
}
.route,.route a{
    color:#343B43;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    font-size: 13px;
    word-spacing: 6px;
}
.route{
    margin-left: 12px;
}
.registration{
    background-color: #F8FAFB;
    padding: 30px 130px 110px 130px;
    position: relative;
}
.registration h1,.auth h1{
    font-size: 34px;
    margin-bottom: 35px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
}
.flex-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 55px;
    grid-column-gap: 30px;
}
.reg-input{
    font-size: 16px;
    height: 60px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    padding: 20px 30px;
    background-color: white;
    border-radius: 4px;
    border:1px solid #3333331A;
    color: rgb(52, 59, 67);
    transition: 0.3s;
}
.disabled-value{
    color: rgba(52, 59, 67,0.6) !important;
}
.reg-input::placeholder{
    color: rgba(52, 59, 67,0.6);
}
.error-input{
    border-color:#EB4D4B !important;
}
.error-input::placeholder{
    color:#EB4D4B !important;
}
.reg-input::placeholder{
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.reg-submit{
    grid-column-end: span 2;
    height: 60px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    font-size: 16px;
    background-color: rgba(52, 59, 67,0.3);
    border:rgba(52, 59, 67,0.3);
    border-radius:4px;
    color: rgba(52, 59, 67,0.3);
    cursor: pointer;
    transition: 0.3s;
}
.active-submit{
    background-color: #4CBA78;
    border-color: #4CBA78;
    color: white;
}
.tiny{
    color: #EB4D4B;
    font-size: 13px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

/* companies */
.companies{
    display: flex;
    justify-content: space-between;
    padding:150px 130px;
}
.companies a{
    width: auto;
}
.companies a img{
    height: 100px;
}
footer{
    background-color: #F8FAFB;
    padding:30px 130px;
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size: 13px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
}

.fa-arrow-up{
    color: #4CBA78;
    transition: 0.3s;
}
.fa-arrow-up:hover{
    color: #656565;
}
.main-section{
    padding: 80px 130px 140px 130px;
    background-color: #F8FAFB;
}
.test-main-section{
    padding-top:0;
    padding-bottom: 89px;
}
.test-main-section h2{
    font-size: 21px !important;
}
.main-section h2{
    font-size:34px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
}
.main-section h3{
    font-size: 21px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color:#343B43 ;
}
.flex-p{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 90px 0;
    color: #343B43;
}
.flex-p p{
    width: calc(50% - 15px);
    color: #343B43;
    font-size: 16px;
    line-height: 22.4px;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
}
.shown{
    display: block !important;
}
/* test-page */
.test-header{
    padding: 150px 130px 95px 130px ;
    background-color: #F8FAFB;
}
.test-header h1{
    font-size: 34px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
}
.test-header p{
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    font-size: 16px;
    color: #343B43;
    margin-top: 30px;
    margin-bottom: 55px;
}
.test-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}
.test-grid a {
    font-size: 21px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
    border-radius: 4px;
    padding: 32px;
    border: 1px solid #343B43;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-arrow-right{
    margin-left: 10px;
    font-size: 16px;
    background-color: #EFF4F6;
    border-radius: 4px;
    padding: 7px;
}
@media (max-width:1420px){
    .test-grid a{
        font-size: 18px;
    }
    .fa-arrow-right{
        font-size: 14px;
    }
    .test-grid{
        grid-column-gap:20px;
    }
}
@media (max-width:1270px){
    .test-grid a{
        font-size: 16px;
    }
    .test-grid{
        grid-column-gap:16px;
    }
}
@media (max-width:1190px){
    .test-grid{
        grid-column-gap:30px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .test-grid a{
        font-size: 21px;
    }
    .fa-arrow-right{
        font-size: 18px;
    }
}
/* auth */
.auth{
    padding: 30px 130px 170px 130px;
    background-image: url(./../img/banner.png);
    position: relative;
}
.auth form{
    width: 40%;
}
.auth form input{
    font-size: 16px;
    width: 100%;
    margin-top: 35px;
    border-color: #3333331A;
    border-radius: 4px;
    padding: 21px 30px;
    border-style: solid;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: rgb(52, 59, 67);
    
}
.auth form input::placeholder{
    color: rgba(52, 59, 67,0.6);
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.auth form .submit{
    width: 100%;
}
.auth-tiny{
    display: none;
    width: calc((100% - 260px)*40/100);
    font-size: 13px;
    color: #EB4D4B;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    text-align: center;
    position: absolute;
    bottom: 140px;
}
.select-input{
    height: auto;
    width: 100%;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: rgba(52, 59, 67,0.6) !important;
}
.autocomplete-input{
    padding: 0;
    border: 0;
}
.autocomplete-input:focus{
    outline: 0;
}

#olqNum, #strNum{
    width: 100%;
    height: 58px;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #4CBA78;
    border-radius: 4px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    font-size: 13px;
    z-index: 99;
    padding: 10px;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 10px 30px #3333331A;
  }
  .autocomplete-items div {
    cursor: pointer;
    color: #343B43;
    transition: 0.3s;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #4CBA78;
    color: white;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
.select-input option{
    padding: 5px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.select-input:focus{
    border:1px solid #343B43 !important;
}
.select_arrow {
    position: absolute;
    top: 19px;
    right: 30px;
    transition: 0.3s;
    pointer-events: none;
    color: #656565;
   
}
.select-input::-ms-expand {
    display: none;
}
.select-input:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select-input:hover ~ .select_arrow,
.select-input:focus ~ .select_arrow {
    color: #343B43;
}
.select-input:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
.custom-select{
    padding: 0 !important;
    position: relative;
}
.custom-select select {
    display: none; /*hide original SELECT element: */
  }
  .select-selected {
    color: rgba(52, 59, 67,0.6) !important;
    padding: 20px 30px !important;
    border: 0;
  }
  
  .select-items div,.select-selected {
    color: #343B43;
    transition: 0.3s;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
  }
  .same-as-selected{
      color: white !important;
  }
  .select-items {
    position: absolute;
    top: calc(100% + 10px);
    color: rgba(123, 182, 250, 0.6) !important;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    z-index: 99;
    border-radius: 4px;
    border:1px solid #4CBA78;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: #4CBA78;
    color: white;
  }
  .filled{
    color: rgb(52, 59, 67) !important;
}
.layout{
    background-image: url(./../img/layout.svg);
}
.responsive-error{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: 25px;
    position: relative;
    z-index: 132; 
    padding: 10%;
    display: none;
    background-color: #F8FAFB;
}
.responsive-error p{
    font-size: 40px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    color: #343B43;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
@media(max-width:1219px){
    .companies a img{
        height: 80px;
    }
}
@media (max-width:1024px){
    body{
        /* overflow: hidden; */
    }
    .responsive-error{
        display: block;
    }
    header,main,footer{
        display: none;
    }
}
.oqmi-footer{
    justify-content: flex-start;
    background-color: white;
}
.oqmi-header{
    background-color: #F8FAFB;
    padding: 55px 130px 35px 130px;
    display: flex;
    justify-content: space-between;
}
.flex-header-left{
    width: 60%;
    line-height: 22px;
}
.flex-header-left h1{
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    font-size: 34px;
    color: #343B43;
}
.flex-header-left p{
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    font-size: 16px;
    margin-top: 35px;
    color: #343B43;
}
.flex-header-right{
    display: flex;
    height: 60px;
    width: 34%;
    justify-content: flex-end;
}
.flex-header-right .time-left{
    font-size: 16px;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    padding: 20px 15px;
    color: white;
    display: inline-block;
    background-color: #343B43;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid #343B43;
}
.flex-header-right .resize{
    font-size: 21px;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
    padding: 20px 15px;
    color: white;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color: #4CBA78;
}

.flex-header-right button{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
#time{
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.oqmi-main{
    display: flex;
    justify-content: center;
}
.oqmi{
    width: 78%;
    margin: 10px;
    background-color: #FBD5FC;
    padding: 30px 20px 100px 20px;
}
.bullets{
    width: calc(22% - 20px);
}
.oqmi-main-label{
    display: flex;
    justify-content: space-between;
}
.oqmi-main-label p{
    font-size: 16px;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    line-height: 30px;
    color: #343B43;
}
.identifier{
    display: flex;
    justify-content: center;
}
.but-bold{
    font-size: 16px;
    color: #343B43;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.regular{
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    color: #343B43;
}
.identifier-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
}
.identifier-grid div{
    height: 32px;
    width: 36px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px dotted #343B43;
}
.count{
    margin-left: 40px;
}
.count-id{
    margin-top: 10px;
    margin-left: -15px;
    line-height: 19px;
    font-size: 16px;
    color: #343B43;
    font-family: 'BPG 2017 DejaVu Sans bold',monospace;
}
.doc-header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 16.5px 0;
}
.doc-header div{
    width: 28%;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
}
.olqNumber,.strNumber{
    display: flex;
    justify-content: space-between;
    color: #343B43;
}
.text-align-right{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: #343B43;

}
.doc-checkbox{
    height: 17px;
    width: 17px;
    border-radius: 2px;
    border: 1px solid #343B43;
    margin-right: 6px;
}
.top-grid{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 2px;
    background-color: #343B43;
    padding: 2px;
}
.lower{
    margin-top: 3px;
    margin-left: 0 !important;
}
.top-grid .grid-item{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    justify-content: space-between;
    background-color: #FBD5FC;
}
.grid-row-left, .grid-row-right{
    display: flex;
    align-items: center;
}
.grid-num{
    margin: -10px 10px -10px -8px;
    padding: 5px 18px;
    font-size: 24px;
    background-color: #FBD5FC;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    color: #343B43;
    border: 1px solid #343B43;
    border-radius: 3px;
}
.grid-header{
    font-size: 16px;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    color: #343B43;
}
.grid-label{
    font-size: 13px;
    margin-left: 10px;
    font-family: 'BPG 2017 DejaVu Sans regular',monospace;
    color: #343B43;
}
.no-left-margin{
    margin-left: 0;
}
.grid-row-right{
    width: 15%;
}
.top-grid .vertical{
    flex-direction: column;
    align-items: flex-start;
    grid-row-start:4;
    grid-row-end:6;
}
.left-label,.right-label,.left-label p,.right-label p{
    font-size: 13px;
    border: 0 !important;
}
.left-label,.right-label{
    display: flex;
    align-items: center;
}
#b4{
    margin-right: 10px;
}
.right-label{
    border-left: 2px solid #343B43 !important;
    padding-left: 10px;
}
.grid-row-right p{
    margin: -10px 5px -10px 0;
    border: 1px dotted #343B43;
    border-radius: 3px;
    padding: 5px 10px;
}
.wider{
    margin-top: 14px;
    margin-left: 60px;
    width: auto;
}
.grid-row-right input{
    margin: -10px 5px -10px 0;
    border: 1px dotted #343B43;
    border-radius: 3px;
    padding: 5px 10px;
    width: 34px;
    height: 32px;
}
.wider-identifier{
    font-size: 20px;
    border: 1px solid #343B43;
    border-radius: 50%;
    padding: 5px 10px;
}
.label-text{
    padding: 0 !important;
    margin-left: 10px !important;
}
@media (max-width:1351px){
    .flex-header-right .resize{
        font-size: 18px;
    }
    .flex-header-right button{
        font-size: 14px;
    }
    .flex-header-right .time-left{
        font-size: 14px;
    }
}
@media (max-width:1254px) {
    .oqmi-header{
        padding:55px 80px 35px 80px;
    }
    .oqmi-footer{
        padding-left: 80px;
        padding-right: 80px;
    }
}